<div class="post card formCard">
  <div class="card-header">
    <h2>Create new post</h2>
  </div>
  <form id="postForm" class="card-body">
    <label class="form-label" for="postTitle">Title</label>
    <input class="form-control" type="text" name="postTitle" id="title" />

    <label class="form-label" for="postContent">Content</label>
    <textarea class="form-control" rows="10" name="postContent" id="content"></textarea>

    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<script src="/js/blogForm.js"></script>