<div class="card formCard">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signupForm" class="card-body">
      <div>
        <label for="emailSignup">Email</label>
        <input class="form-control" type="text" id="emailSignup" />
      </div>
      <div>
        <label for="usernameSignup">Username</label>
        <input class="form-control" type="text" id="usernameSignup" />
      </div>
      <div>
        <label for="passwordSignup">Password</label>
        <input class="form-control" type="password" id="passwordSignup" />
      </div>
      <button type="submit" id="signup" class="btn">Sign up</button>
      <a href="/login"><button type="button" class="btn">Log in instead</button></a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>