:root {
  --headerFont: "Fredericka the Great", cursive;
  --bodyFont: "Open Sans", sans-serif;
  --ltGray1: #e2e2e2;
  --ltGray2: #c0c0c0;
  --ltBlue: #c7dbf3;
  --medBlue: #408ae1;
  --ltGreen: #14972a;
  --medGreen: #0c5218;
  --dkGreen: #06240b;
  --translucentBgGreen: rgba(3, 17, 5, 0.55);
}

body {
  background-color: var(--ltGray1);
}

/* div {
  border: 1px solid red;
} */

.btn,
.postBtn {
  font: var(--bodyFont);
  color: var(--ltGray1);
  border-radius: 12px;
  border: 3px solid var(--dkGreen);
  background-color: var(--ltGreen);
}

.postBtn {
  margin-left: 15px;
}

.card {
  margin: 15px;
  border-radius: 7px;
}

.card-body {
  font-family: var(--bodyFont);
  color: var(--dkGreen);
  font-size: 16px;
  background-color: var(--ltGray2);
  border-radius: 0 0 7px 7px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.card-header {
  font-family: var(--headerFont);
  color: var(--ltGray1);
  border-radius: 7px 7px 0 0 !important;
}
.card-header a {
  color: var(--ltBlue);
  font-size: 20px;
}

.commentCard {
  margin-left: 3rem !important;
}

.commentCard .card-header {
  font-size: 20px;
  background-color: var(--medGreen);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.formCard .card-header {
  background-color: var(--ltGreen);
}

.postCard .card-header {
  background-color: var(--dkGreen);
  padding: 1rem 1rem 0.5rem 1rem;
}

:is(.card-header, .navbar) a:visited {
  color: var(--ltGray1);
}
:is(.card-header, .navbar) a:hover {
  color: var(--medBlue);
}

.navbar {
  background-color: var(--dkGreen);
  width: 100%;
  /* height: 7em; */
  font-size: 16px;
  border-radius: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li,
.navbar a {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--ltBlue);
  font-family: var(--headerFont);
}

.title {
  color: var(--dkGreen);
  font-family: var(--headerFont);
  text-align: center;
  padding: 1rem;
}
